html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    min-height: calc(100vh - 650px); /* 60px représente la hauteur du footer, ajustez-la selon votre mise en page */
    padding-bottom: 40px; /* Espace pour le footer */
  }
  
  .form-control {
    margin-bottom: 15px; /* Ajoute un espace en bas de chaque input */
  }
  
  .position{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 140%;
  }
  
  input, textarea {
    padding: 15px;
    padding-right: 10px;
    border-radius: 3px;
    border-color: black;
    background-color: white;
  }
  
  input {
    width: 50px;
    margin: auto;
    cursor: pointer;
    margin-top: 20px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: white;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  .mb-3-form-check1, .mb-3-form-check2, .mb-3-form-check3, .mb-3-form-check4, 
  .mb-3-form-check5, .mb-3-form-check6, .mb-3-form-check7, .mb-3-form-check8, .mb-3-form-check9,
  .mb-3-form-check10,  .mb-3-form-check11, .mb-3-form-check12, .mb-3-form-check13, .mb-3-form-check1,
  .form-control, .form-check-label1 {
    background-color: orangered;
    padding:5px 10px; 
    margin-top: 35px;
    margin-left: 30px;
    border-radius: 10px;
    width: 400px;
    height: 100px;
    color: black;
  }
  
  .mb-3-form-check1:active, .mb-3-form-check2:active, .mb-3-form-check3:active, .mb-3-form-check4:active, 
  .mb-3-form-check5:active, .mb-3-form-check6:active, .mb-3-form-check7:active, .mb-3-form-check8:active {
    background-color: blue;
  }
  
  textarea {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 420px;
  }
  
  ul {
    font-size: 20px;
    font-style: oblique;
  }
  
  .cases {
    width: 400px;
    height: 50px;
  }
  
  .text-center {
    margin-top: 30px;
  }
  
  /* Menu de navigation */
  
  header nav {
  position: fixed;
  width: 100%;
  height: 120px;
  transition: all 0.4s ease-out;
  }
  
  .anim-nav {
  background: black;
  height: auto;
  color: black;
  border-bottom: 1px solid black;
  z-index: 5;
  }
  
  header nav .list-menu {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  header nav .list-menu .item {
  margin: 0 50px;
  font-size: 25px;
  }
  
  :root{
  --hauteur-menu: 100px;
  }
  
  * {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
  }
  
  nav {
  width: 100%;
  font-size: 18px;
  position: fixed;
  top: 0;
  }
  
  nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,1);
  height: var(--hauteur-menu);
  }
  
  nav ul {
  list-style-type: none;
  }
  
  nav > ul > li {
  background-color: black;
  position: relative;
  height: 100%;
  flex: 1;
  }
  
  nav > ul > li:hover > a{
  color: orangered;
  }
  
  nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  li a {
  text-decoration: none;
  color: white;
  }
  
  .menu-deroulant > a:after{
  content: '❯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
  }

  .menu-deroulant2:hover > a:after {
    animation: rotationFleche 0.2s linear forwards;
    color: orangered;
    }
  
  .menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
  color: orangered;
  }
  
  @keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
  }
  
  .sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0%;
  border-radius: 2px;
  background-color: orangered;
  }
  
  .menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
  color: orangered;
  }

  .menu-deroulant2:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
    color: orangered;
    }
  
  @keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid black;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid black;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
  }
  }
  
  .sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
  }
  
  .sous-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
  }
  
  .sous-menu > li:hover > a {
  color: #f4f4f4;
  }
  
  a {
  text-decoration: none;
  color: #f4f4f4;
  }
  
  .serviceshover:hover, .realisationshover:hover {
  color: orangered;
  }
  
  header:hover {
  color: orangered;
  }
  
  *, :after, ::before {
  box-sizing: border-box;
  }
  
  .mb-4 {
    text-align: center;
    padding-bottom: 100px;
    margin-top: 0px;
  }
  
  .logo {
    padding-top: 100px;
    margin-bottom: 0px;
  }
  
  .copyright:hover {
    background-color: orangered;
  }
  
  .copyright:active {
    color: orangered;
  }
  
  ::placeholder {
    color: white;
  }

  .bonnespratiques {
    color: white;
    min-height: 30px;
    margin-bottom: 50px;
    border-bottom: orangered 10px solid;
    }
  
    .mb-3-blok {
      display: inline-block;
    }
  
    .btn-first {
      margin-left: 30px;
      margin-top: 30px;
    }
  
    .btn-second {
      margin-left: 30px;
      margin-top: 30px;
    }
