body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.maintenance-container, .alternate-container {
    text-align: center;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.maintenance-image, .alternate-image {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
    animation: pulse 2s infinite, rotate 5s linear infinite;
}

h1 {
    color: orangered;
    margin-bottom: 10px;
}

a {
    color: orangered;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
